.banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    text-align: center;
    color: $body-color-alt;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 767px) {
        padding: 35% 5% 20%;
        min-height: 1px;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        color: $body-color-alt;
    }
    .btn-wrap {
        margin-top: 4rem;
    }
    nav {
        position: absolute;
        top: 1rem;
        left: 1rem;
        li {
            line-height: $font-size-sm;
        }
        a {
            font-size: $font-size-sm;
            font-weight: bold;
            display: inline-block;
            color: $body-color-alt;
            &::before {
                display: inline-block;
                width: 12px;
                height: 12px;
                content: '';
                border-radius: 50%;
                background-color: $brand-primary;
            }
            span {
                display: inline-block;
                text-indent: -9999px;
            }
            &:hover,
            &:focus,
            &.active {
                text-decoration: underline;
                color: $brand-primary;
            }
        }
        @media screen and (min-width: 768px) {
            top: 0;
            left: auto;
            right: 5%;
            li {
                &:not(:first-child)::before {
                    display: inline-block;
                    content: '';
                    width: 2px;
                    height: 1rem;
                    margin-right: .8rem;
                    margin-left: .8rem;
                    background-color: $body-color-alt;
                }
            }
            a {
                &::before {
                    content: none;
                }
                span {
                    text-indent: 0;
                }
            }
        }
    }
}
