.banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    color: $body-color-alt;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
        color: $body-color-alt;
        margin-bottom: 0;
        margin-top: 0;
    }
    .btn-wrap {
        margin-top: 4rem;
    }
    nav {
        position: absolute;
        top: 0;
        right: 5%;
        li {
            line-height: $font-size-sm;
            &:not(:first-child)::before {
                content: '';
                width: 2px;
                height: 1rem;
                display: inline-block;
                margin-left: .8rem;
                margin-right: .8rem;
                background-color: $body-color-alt;
            }
        }
        a {
            color: $body-color-alt;
            font-size: $font-size-sm;
            font-weight: bold;
            &:hover,
            &:focus,
            &.active {
                color: $brand-primary;
                text-decoration: underline;
            }
        }
    }
}
