.banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    color: $body-color-alt;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    nav {
        position: absolute;
        top: 0;
        right: 0;
    }
    h2 {
        color: $body-color-alt;
        margin-bottom: 0;
        margin-top: 0;
    }
    .btn-wrap {
        margin-top: 4rem;
    }
    nav {
        a {
            color: $body-color-alt;
            font-size: $font-size-sm;
            font-weight: bold;
            &:hover,
            &:focus,
            &.active {
                color: $brand-primary;
                text-decoration: underline;
            }
        }
    }
}
