.cafe {
    background-color: $body-color;
    background-image: url('../images/cafe.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    min-height: 620px;
    color: $body-bg;
    display: flex;
    .half {
        &:first-child {
            justify-content: flex-end;
            padding-bottom: 10px;
        }
        &:last-child {
            header {
                h2 {
                    color: $body-bg;
                }
                .lead {
                    margin-bottom: 3.5rem;
                }
            }
        }
    }
    nav {
        ul {
            text-transform: none;
            font-size: 1.1rem;
        }
        a {
            color: $body-bg;
        }
    }
}
