.cafe {
    background-color: $body-color;
    color: $body-bg;
    display: flex;
    .full {
        flex-direction: column-reverse;
    }
    @media screen and (min-width: 768px) {
        background-image: url('../images/cafe.jpg');
        background-position: left bottom;
        background-repeat: no-repeat;
        min-height: 620px;  
        .full {
            flex-direction: row;
        }
    }
    .half {
        &:first-child {
            justify-content: flex-end;
            padding-bottom: 10px;
            min-height: 1px;
        }
        &:last-child {
            header {
                h2 {
                    color: $body-bg;
                }
                .lead {
                    margin-bottom: 3.5rem;
                }
            }
        }
    }
    .btn {
        max-width: none;
    }
    nav {
        ul {
            text-transform: none;
        }
        li {
            font-size: 1.1rem;
        }
        a {
            color: $body-bg;
        }
        img {
            max-width: 1.6rem;
            max-height: 1.6rem;
        }
    }
    .social {
        flex-direction: row;
        a {
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $body-bg;
            border-radius: 50%;
            margin-right: .5rem;
            transition: background-color .3s;
            &:hover,
            &:focus {
                background-color: $brand-primary;
            }
        }
    }
}
