.reassurance {
    text-align: center;
    padding: 1rem 15%;
    position: relative;
    background-color: $body-bg-alt;
    img {
        width: 2.8rem;
        height: 3rem;
    }
    h3 {
        font-family: $headings-font-family;
        font-size: $font-size-lg;
        text-transform: uppercase;
        margin: 0;
    }
    p {
        font-size: $font-size-sm;
        max-width: 15rem;
        margin: 0 auto;
    }
}

.reassurance-slider {
    > div {
        display: inline-block;
    }
}

.tns-nav {
    display: none;
}

[data-action="stop"] {
    display: none;
}

.tns-controls {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 50%;
    margin-top: -7px;
    [data-controls="prev"],
    [data-controls="next"] {
        position: absolute;
        text-indent: -9999px;
        border: 0;
        background-color: transparent;
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 0;
            left: 0;
        }
        
    }
    [data-controls="prev"] {
        left: 10%;
        &::before {
            border-width: 7px 6px 7px 0;
            border-color: transparent $brand-primary transparent transparent;
        }
        
    }
    [data-controls="next"] {
        right: 10%;
        &::before {
            border-width: 7px 0 7px 6px;
            border-color: transparent transparent transparent $brand-primary;
        }
    }
}